body {
	background-color: #888888;
}
#maindiv {
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -300px;
	margin-left: -400px;

	width: 800px;
	height: 600px;
	overflow: visible;
	background-color: #000000;
}
