h1 {
	color: #0088ff;	
	font-family: "Consolas", monospace;
}

body {
	background-color: #000000;
	color: #0088ff;
}
#maindiv {
	top: 10%;
	left: 0%;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;

	width: 50%;
	height: 50%x;
	overflow: hidden;
	background-color: #000000;
	z-index: 10;
}
